<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="img.jpg" alt="John" style="width:100%">
  <h1><%=current_user.name%></h1>
  <p class="title"><% current_user.posts.count %></p>
  <p><%=current_user.email%></p>



  <p><button>Contact</button></p>
</div>
