<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">

  <h1><%=current_user.name%></h1>

  <p><%=current_user.email%></p>



  <p><button>Contact</button></p>
</div>
